node_modules/
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts

# env
.env
.env.local
.env*.local

# database
prisma/dev.db
prisma/dev.db-journal
*.db
*.db-journal

# uploads (keep .gitkeep)
public/images/products/*
!public/images/products/.gitkeep

# misc
.DS_Store
npm-debug.log*

.vercel
.env*
